.containerDefault{
    all: unset;
    outline: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 32px;
    right: 32px;
    background: url(./wishlist-default.png);
    cursor: pointer;
}

.containerDefault:hover{
    background: url(./wishlist-hover-default.png);
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}

.containerActive{
    all: unset;

    outline: none;
    width: 48px;
    height: 48px;
    position: absolute;
    top: 32px;
    right: 32px;
    background: url(./wishilist-active.png);
    cursor: pointer;

}
.containerActive:hover{
    background: url(./wishlist-hover-active.png);
    -moz-transition: all 0.3s ease-in;
    -webkit-transition: all 0.3s ease-in;
    -o-transition: all 0.3s ease-in;
    transition: all 0.3s ease-in;
}